<ng-container>
  <app-header></app-header>
  <main class="main" id="top">
    
    <section class="py-xxl-10 pb-0" id="home">
        <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/hero-bg.png);background-position:top center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row min-vh-xl-100 min-vh-xxl-25">
                <div class="col-md-5 col-xl-6 order-0 order-md-1 text-end">
                <!--<img class="pt-7 pt-md-0 w-100" src="/assets/gallery/hero.png" alt="hero-header" />-->
                <img class="img-fluid mt-6" src="../assets/gallery/aboutus.png" alt="..." />
                </div>
                <div class="col-md-75 col-xl-6  text-md-start text-center py-6">
                    <h1 class="fw-light font-base fs-6 fs-xxl-7">
                        The Most
                        <strong>Easy HMS</strong><br /> Has Just Arrived  &nbsp;<strong> </strong>
                    </h1>
                    <p class="fs-1 mb-2">Fast & Secure HMS platform that adapts to your needs, The First-And Most Easy Mobile HMS </p>
                    <p class="fs-1 mb-4">
                        Any specialty, any size, anywhere.
                    </p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="#contactus" role="button">Request Free Demo</a>
                </div>
            </div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-5" id="Features">

        <div class="container">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="bg-holder bg-size bg-holder-text">
                        What We Offer
                    </div>
                    <!--/.bg-holder-->
                    <h1 class="text-center">HMS Main features</h1>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0">
      
        <div class="container">
            <div class="row py-5 align-items-center justify-content-center justify-content-lg-evenly">
                <div class="col-auto col-md-3 text-xl-start mb-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-box text-center">
                            <a class="text-decoration-none" href="#!">
                                <img class="mb-3 deparment-icon" src="/assets/icons/Dashboard.png" alt="..." />
                                <h5 class="text-center">Dashboard</h5>
                                <p class="fs-1 fs-xxl-2 text-center">
                                    User-friendly and customizable HMS with Best performance and experience.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-auto col-md-3 text-xl-start mb-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-box text-center">
                            <a class="text-decoration-none" href="#!">
                                <img class="mb-3 deparment-icon" src="/assets/icons/Appointments.png" alt="..." />
                                <h5 class="text-center"> Appointments </h5>
                                <p class="fs-1 fs-xxl-2 text-center">
                                    Schedule and manage appointments and resources with alerts
                                </p>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-auto col-md-3 text-xl-start mb-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-box text-center">
                            <a class="text-decoration-none" href="#!">
                                <img class="mb-3 deparment-icon" src="/assets/icons/Patient.png" alt="..." />
                                <h5 class="text-center"> Patient Portal </h5>
                                <p class="fs-1 fs-xxl-2 text-center">
                                    Securely register and request appointment refills. Also view charts, statements, messages and reminders.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-auto col-md-3 text-xl-start mb-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-box text-center">
                            <a class="text-decoration-none" href="#!">
                                <img class="mb-3 deparment-icon" src="/assets/icons/Billing.png" alt="..." />
                                <h5 class="text-center">  Billing </h5>
                                <p class="fs-1 fs-xxl-2 text-center">
                                    An effective, easier and more affordable way to increase cash flows and get paid faster.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-auto col-md-3 text-xl-start mb-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-box text-center">
                            <a class="text-decoration-none" href="#!">
                                <img class="mb-3 deparment-icon" src="/assets/icons/Prescription.png" alt="..." />
                                <h5 class="text-center"> Prescription </h5>
                                <p class="fs-1 fs-xxl-2 text-center">
                                    Prescription is most demanding feature with custom clinic information.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-auto col-md-3 text-xl-start mb-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-box text-center">
                            <a class="text-decoration-none" href="#!">
                                <img class="mb-3 deparment-icon" src="/assets/icons/Reports.png" alt="..." />
                                <h5 class="text-center"> Reports </h5>
                                <p class="fs-1 fs-xxl-2 text-center">
                                    HMS also  provide easy reporting with custom date. Which include Patient, billing, doctor reporting etc.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-auto col-md-3 text-xl-start mb-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-box text-center">
                            <a class="text-decoration-none" href="#!">
                                <img class="mb-3 deparment-icon" src="/assets/icons/Setup.png" alt="..." />
                                <h5 class="text-center"> Customize Setup </h5>
                                <p class="fs-1 fs-xxl-2 text-center">
                                    HMS also provide setting of each module as per your requirments.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="col-auto col-md-3 text-xl-start mb-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-box text-center">
                            <a class="text-decoration-none" href="#!">
                                <img class="mb-3 deparment-icon" src="/assets/icons/Support.png" alt="..." />
                                <h5 class="text-center">24/7 Support</h5>
                                <p class="fs-1 fs-xxl-2 text-center">
                                    We also provide  24/7 online support. More detail contact with us easyhms@gmail.com
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pb-0" id="about">

        <div class="container mb-5">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/about-us.png);background-position:top center;background-size:contain;">
                    </div>
                    <!--/.bg-holder-->

                    <h1 class="text-center">ABOUT US</h1>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <section class="bg-secondary pb-5">
        <div class="bg-holder" style="background-image:url(/assets/gallery/bg-eye-care.png);background-position:center;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row align-itemscenter">
                <div class="col-md-6 col-lg-6"><img class="img-fluid" src="/assets/gallery/aboutus.png" alt="..." /></div>
                <div class="col-md-6 col-lg-6 text-center text-md-start">
                    <h2 class="fw-bold text-light mb-4 mt-5">We are developing a healthcare<br class="d-none d-sm-block" />system around you.</h2>
                    <p class="text-light">We think that everyone should have easy access to excellent <br class="d-none d-sm-block" />healthcare. Our aim is to make the procedure as simple as <br class="d-none d-sm-block" />possible for our patients and to offer treatment no matter<br class="d-none d-sm-block" />where they are — in person or at their convenience. </p>

                </div>
            </div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--<section class="pb-0">

        <div class="container">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/doctors-us.png);background-position:top center;background-size:contain;">
                    </div>

                    <h1 class="text-center">OUR DOCTORS</h1>
                </div>
            </div>
        </div>

    </section>-->
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!--<section class="py-5">
        <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/doctors-bg.png);background-position:top center;background-size:contain;">
        </div>

        <div class="container">
            <div class="row flex-center">
                <div class="col-xl-10 px-0">
                    <div class="carousel slide" id="carouselExampleDark" data-bs-ride="carousel">
                        <a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleDark" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7">
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/anita.png" width="128" alt="..." />
                                                <h5 class="mt-3">Anita Deshai</h5>
                                                <p class="mb-0 fs-xxl-1">Pediatrics, Gochi Medicine</p>
                                                <p class="text-600 mb-0">Florida, United States</p>
                                                <p class="text-600 mb-4">10 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/jane.png" width="128" alt="..." />
                                                <h5 class="mt-3">Jane Flakis</h5>
                                                <p class="mb-0 fs-xxl-1">Gynaecology, Abenka Care</p>
                                                <p class="text-600 mb-0">Melbourne, Australia</p>
                                                <p class="text-600 mb-4">12 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/leo-mario.png" width="128" alt="..." />
                                                <h5 class="mt-3">Leo Mario</h5>
                                                <p class="mb-0 fs-xxl-1">Physiotherapy, FitCare</p>
                                                <p class="text-600 mb-0">London, England</p>
                                                <p class="text-600 mb-4">25 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-secondary hover-top rounded-pill border-0" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7">
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/anita.png" width="128" alt="..." />
                                                <h5 class="mt-3">Anita Deshai</h5>
                                                <p class="mb-0 fs-xxl-1">Pediatrics, Gochi Medicine</p>
                                                <p class="text-600 mb-0">Florida, United States</p>
                                                <p class="text-600 mb-4">10 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/jane.png" width="128" alt="..." />
                                                <h5 class="mt-3">Jane Flakis</h5>
                                                <p class="mb-0 fs-xxl-1">Gynaecology, Abenka Care</p>
                                                <p class="text-600 mb-0">Melbourne, Australia</p>
                                                <p class="text-600 mb-4">12 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/leo-mario.png" width="128" alt="..." />
                                                <h5 class="mt-3">Leo Mario</h5>
                                                <p class="mb-0 fs-xxl-1">Physiotherapy, FitCare</p>
                                                <p class="text-600 mb-0">London, England</p>
                                                <p class="text-600 mb-4">25 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-secondary hover-top rounded-pill border-0" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row h-100 m-lg-7 mx-3 mt-6 mx-md-4 my-md-7">
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/anita.png" width="128" alt="..." />
                                                <h5 class="mt-3">Anita Deshai</h5>
                                                <p class="mb-0 fs-xxl-1">Pediatrics, Gochi Medicine</p>
                                                <p class="text-600 mb-0">Florida, United States</p>
                                                <p class="text-600 mb-4">10 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/jane.png" width="128" alt="..." />
                                                <h5 class="mt-3">Jane Flakis</h5>
                                                <p class="mb-0 fs-xxl-1">Gynaecology, Abenka Care</p>
                                                <p class="text-600 mb-0">Melbourne, Australia</p>
                                                <p class="text-600 mb-4">12 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-outline-secondary rounded-pill" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-8 mb-md-0">
                                        <div class="card card-span h-100 shadow">
                                            <div class="card-body d-flex flex-column flex-center py-5">
                                                <img src="/assets/gallery/leo-mario.png" width="128" alt="..." />
                                                <h5 class="mt-3">Leo Mario</h5>
                                                <p class="mb-0 fs-xxl-1">Physiotherapy, FitCare</p>
                                                <p class="text-600 mb-0">London, England</p>
                                                <p class="text-600 mb-4">25 years experience</p>
                                                <div class="text-center">
                                                    <button class="btn btn-secondary hover-top rounded-pill border-0" type="submit">View Profile</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-5 mt-5">

        <div class="container">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/people.png);background-position:top center;background-size:contain;">
                    </div>
                    <!--/.bg-holder-->

                    <h1 class="text-center">Meet our Customers</h1>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <section class="py-8">
        <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/people-bg-1.png);background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row align-items-center offset-sm-1">
                <div class="carousel slide" id="carouselPeople" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100">
                                <div class="col-sm-3 text-center">
                                    <img src="/assets/gallery/jane.png" width="100" alt="" />
                                    <h5 class="mt-3 fw-medium text-secondary">Dr Alina</h5>
                                </div>
                                <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                                    <h2> Fast and easy use!</h2>
                                    <div class="my-2"><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star"></i></div>
                                    <p>
                                        “I say to patients, "I'm very fancy over here. I have a paperless practice, so everything will come via email." They love it. I can't tell you how many times people will say "I love this client portal." ”
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row h-100">
                                <div class="col-sm-3 text-center">
                                    <img src="/assets/gallery/jane.png" width="100" alt="" />
                                    <h5 class="mt-3 fw-medium text-secondary">Dr Alina</h5>
                                </div>
                                <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                                    <h2> Fast and easy use!</h2>
                                    <div class="my-2"><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star"></i></div>
                                    <p>
                                        “I say to patients, "I'm very fancy over here. I have a paperless practice, so everything will come via email." They love it. I can't tell you how many times people will say "I love this client portal." ”
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-sm-3 text-center">
                                    <img src="/assets/gallery/jane.png" width="100" alt="" />
                                    <h5 class="mt-3 fw-medium text-secondary">Dr Alina</h5>
                                </div>
                                <div class="col-sm-9 text-center text-sm-start pt-3 pt-sm-0">
                                    <h2> Fast and easy use!</h2>
                                    <div class="my-2"><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star me-2"></i><i class="fas fa-star"></i></div>
                                    <p>
                                        “I say to patients, "I'm very fancy over here. I have a paperless practice, so everything will come via email." They love it. I can't tell you how many times people will say "I love this client portal." ”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="position-relative z-index-2 mt-5">
                            <ol class="carousel-indicators">
                                <li class="active" data-bs-target="#carouselPeople" data-bs-slide-to="0"></li>
                                <li data-bs-target="#carouselPeople" data-bs-slide-to="1"></li>
                                <li data-bs-target="#carouselPeople" data-bs-slide-to="2"> </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <!--<section class="py-5" id="departments">

  <div class="container">
      <div class="row">
          <div class="col-12 py-3">
              <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/bg-departments.png);background-position:top center;background-size:contain;">
              </div>

              <h1 class="text-center">OUR DEPARTMENTS</h1>
          </div>
      </div>
  </div>

</section>


<section class="py-0">

  <div class="container">
      <div class="row py-5 align-items-center justify-content-center justify-content-lg-evenly">
          <div class="col-auto col-md-4 col-lg-auto text-xl-start">
              <div class="d-flex flex-column align-items-center">
                  <div class="icon-box text-center">
                      <a class="text-decoration-none" href="#!">
                          <img class="mb-3 deparment-icon" src="/assets/icons/neurology.png" alt="..." /><img class="mb-3 deparment-icon-hover" src="/assets/icons/neurology.svg" alt="..." />
                          <p class="fs-1 fs-xxl-2 text-center">Neurology</p>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-auto col-md-4 col-lg-auto text-xl-start">
              <div class="d-flex flex-column align-items-center">
                  <div class="icon-box text-center">
                      <a class="text-decoration-none" href="#!">
                          <img class="mb-3 deparment-icon" src="/assets/icons/eye-care.png" alt="..." /><img class="mb-3 deparment-icon-hover" src="/assets/icons/eye-care.svg" alt="..." />
                          <p class="fs-1 fs-xxl-2 text-center">Eye care</p>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-auto col-md-4 col-lg-auto text-xl-start">
              <div class="d-flex flex-column align-items-center">
                  <div class="icon-box text-center">
                      <a class="text-decoration-none" href="#!">
                          <img class="mb-3 deparment-icon" src="/assets/icons/cardiac.png" alt="..." /><img class="mb-3 deparment-icon-hover" src="/assets/icons/cardiac.svg" alt="..." />
                          <p class="fs-1 fs-xxl-2 text-center">Cardiac care</p>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-auto col-md-4 col-lg-auto text-xl-start">
              <div class="d-flex flex-column align-items-center">
                  <div class="icon-box text-center">
                      <a class="text-decoration-none" href="#!">
                          <img class="mb-3 deparment-icon" src="/assets/icons/heart.png" alt="..." /><img class="mb-3 deparment-icon-hover" src="/assets/icons/heart.svg" alt="..." />
                          <p class="fs-1 fs-xxl-2 text-center">Heart care</p>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-auto col-md-4 col-lg-auto text-xl-start">
              <div class="d-flex flex-column align-items-center">
                  <div class="icon-box text-center">
                      <a class="text-decoration-none" href="#!">
                          <img class="mb-3 deparment-icon" src="/assets/icons/osteoporosis.png" alt="..." /><img class="mb-3 deparment-icon-hover" src="/assets/icons/osteoporosis.svg" alt="..." />
                          <p class="fs-1 fs-xxl-2 text-center">Osteoporosis</p>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-auto col-md-4 col-lg-auto text-xl-start">
              <div class="d-flex flex-column align-items-center">
                  <div class="icon-box text-center">
                      <a class="text-decoration-none" href="#!">
                          <img class="mb-3 deparment-icon" src="/assets/icons/ent.png" alt="..." /><img class="mb-3 deparment-icon-hover" src="/assets/icons/ent.svg" alt="..." />
                          <p class="fs-1 fs-xxl-2 text-center">ENT</p>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>-->
    <section class="py-5" id="Pricing">

        <div class="container">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="bg-holder bg-size bg-holder-text">
                        easyhms Pricing Plans
                    </div>
                    <!--/.bg-holder-->

                    <h1 class="text-center">Our Pricing</h1>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>

    <section class="pt-3 mb-6">
        <div class="container">
            <div class="row" style="max-width: 1100px; margin: auto;">
                <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/dot-bg.png);background-position:bottom right;background-size:auto; z-index:-1;">
                </div>
                <!--/.bg-holder-->

                <div class="row text-center align-items-end">
                    <!-- Pricing Table-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
                            <h2 class="h1 font-weight-bold">$20<span class="text-small font-weight-normal ml-2">/ month / user</span></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left">
                             
                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Dashboard
                                </li>
                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Appointments
                                </li>
                                
                              <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2"></i>
                                <del>Inpatient Department</del>
                              </li>
                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Billing
                                </li>
                              
                                <li class="mb-3 text-muted">
                                    <i class="fa fa-times mr-2"></i>
                                    <del>Inventroy</del>
                                </li>
                                <li class="mb-3 text-muted">
                                    <i class="fa fa-times mr-2"></i>
                                    <del>Reporting</del>
                                </li>
                                <li class="mb-3 text-muted">
                                  <i class="fa fa-times mr-2"></i>
                                  <del>Email and SMS</del>
                              </li>
                            </ul>
                            <a href="#contactform" class="btn btn-blue btn-block p-2 px-3 shadow rounded-pill">Let Start</a>
                        </div>
                    </div>
                    <!-- END -->
                    <!-- Pricing Table-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Pro</h1>
                            <h2 class="h1 font-weight-bold">$30<span class="text-small font-weight-normal ml-2">/ month / user</span></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left">
                            
                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Dashboard
                                </li>
                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Appointments
                                </li>
                                
                              <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2"></i>
                                <del>Inpatient Department</del>
                              </li>

                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Billing
                                </li>
                               
                                <li class="mb-3">
                                  <i class="fa fa-check mr-2 text-primary"></i> Inventroy
                                </li>
                                <li class="mb-3">
                                  <i class="fa fa-check mr-2 text-primary"></i> Reporting
                                </li>
                                <li class="mb-3 text-muted">
                                  <i class="fa fa-times mr-2"></i>
                                  <del>Email and SMS</del>
                              </li>

                            </ul>
                            <a href="#contactform" class="btn btn-blue btn-block p-2 px-3 shadow rounded-pill">Let Start</a>
                        </div>
                    </div>
                    <!-- END -->
                    <!-- Pricing Table-->
                    <div class="col-lg-4">
                        <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Enterprise</h1>
                            <h2 class="h1 font-weight-bold">$35<span class="text-small font-weight-normal ml-2">/ month / user</span></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left">
                               
                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Dashboard
                                </li>
                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Appointments
                                </li>
                                
                                <li class="mb-3">
                                  <i class="fa fa-check mr-2 text-primary"></i> Inpatient Department
                                </li>

                                <li class="mb-3">
                                    <i class="fa fa-check mr-2 text-primary"></i> Billing
                                </li>
                                <li class="mb-3">
                                  <i class="fa fa-check mr-2 text-primary"></i> Inventroy
                                </li>
                                <li class="mb-3">
                                  <i class="fa fa-check mr-2 text-primary"></i> Reporting
                                </li>
                                <li class="mb-3">
                                  <i class="fa fa-check mr-2 text-primary"></i> Email and SMS
                                </li>
                            </ul>
                            <a href="#contactform" class="btn btn-blue btn-block p-2 px-3 shadow rounded-pill">Let Start</a>
                        </div>
                    </div>
                    <!-- END -->

                </div>

            </div>
        </div>
    </section>



    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-5 pb-0" id="contactus">

        <div class="container">
            <div class="row">
                <div class="col-12 py-3">
                    <div class="bg-holder bg-size bg-holder-text">
                        Request Demo
                    </div>
                    <!--/.bg-holder-->

                    <h1 class="text-center">Contact Us</h1>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <section class="mb-6 pb-3"  id="contactform">
        <div class="container">
            <div class="row">
                <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/dot-bg.png);background-position:bottom right;background-size:auto;">
                </div>
                <!--/.bg-holder-->

                <div class="col-lg-6 z-index-2 mb-5">

                    <h5>Phone</h5>
                    <p>
                        0345-4104058
                    </p>
                     <div class="row">
                         <div class="col-sm-6">
                             <hr />
                         </div>
                     </div>
                    <h5>Email Address</h5>
                    <p>
                        easyhms@gmail.com
                    </p>
                    <p>
                       easyhms2@gmail.com
                    </p>

                    <p class="mt-5">
                        <strong>Note</strong>
                        We think that everyone should have easy access to excellent healthcare. Our aim is to make the procedure as simple as possible for our patients and to offer treatment no matter where they are — in person or at their convenience.
                    </p>
                </div>
                <div class="col-lg-6 z-index-2">
                    <form class="row g-3" [formGroup]="contactForm" (ngSubmit)="AddContact()" method="post">
                        <div class="col-md-6">
                            <label class="visually-hidden" for="inputName">Name</label>
                            <input class="form-control form-easyhms-control" formControlName="Name"[(ngModel)]="model.Name" type="text" placeholder="Name" required="required" />
                            <div class="text-danger animate__animated animate__fadeInRight" *ngIf="submitted && (f.Name?.invalid)">
                                Required
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="visually-hidden" for="inputPhone">Phone</label>
                            <input class="form-control form-easyhms-control" formControlName="Phone"[(ngModel)]="model.Phone" type="text" placeholder="Phone" required="required"/>
                            <div class="text-danger animate__animated animate__fadeInRight" *ngIf="submitted && (f.Phone?.invalid)">
                                Required
                            </div>
                            <div class="text-danger animate__animated animate__fadeInRight" *ngIf="submitted && (f.Phone?.errors?.pattern)">
                                Enter Valid Phone Numner
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label visually-hidden" for="inputEmail">Email</label>
                            <input class="form-control form-easyhms-control"  type="email"formControlName="Email"[(ngModel)]="model.Email" placeholder="Email" required="required" />
                            <div class="text-danger animate__animated animate__fadeInRight" *ngIf="submitted && (f.Email?.invalid)">
                                Required
                            </div>
                            <div class="text-danger animate__animated animate__fadeInRight" *ngIf="submitted && (f.Email?.errors?.email ||f.Email?.errors?.pattern)">
                                Enter Valid Email
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label class="visually-hidden" for="Speciality">Speciality</label>
                            <input class="form-control form-easyhms-control"type="text"formControlName="Speciality"[(ngModel)]="model.Speciality" placeholder="Speciality" />
                        </div>
                        <div class="col-md-12">
                            <label class="form-label visually-hidden" for="validationTextarea">Message</label>
                            <textarea class="form-control form-easyhms-control" formControlName="Message"[(ngModel)]="model.Message" placeholder="Message" style="height: 250px;" required="required"></textarea>
                        </div>
                        <div class="col-sm-5" style="margin-left:auto;">
                            <div class="d-grid">
                                <button class="btn btn-blue rounded-pill" type="submit">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary">
        <div class="bg-holder bg-size" style="background-image:url(/assets/gallery/cta-bg.png);background-position:center right;margin-top:-8.125rem;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="fw-bold text-light">Get an update </h2>
                    <p class="text-soft-primary">easyhms was created in order to improve the patient experience. <br />Providing world-class tests, and a wide range of other services.</p>
                </div>
                <div class="col-lg-6">
                    <h5 class="mb-3 text-soft-primary">SUBSCRIBE TO NEWSLETTER </h5>
                    <form class="row gx-2 gy-2 align-items-center">
                        <div class="col">
                            <div class="input-group-icon">
                                <label class="visually-hidden" for="inputEmailCta">Address</label>
                                <input class="form-control form-easyhms-control form-cta-control text-soft-primary" id="inputEmailCta" type="email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="d-grid gap-3 col-sm-auto">
                            <button class="btn btn-lg btn-light rounded-3 px-5 py-3" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="py-0 bg-secondary">
        <div class="bg-holder opacity-25" style="background-image:url(/assets/gallery/dot-bg.png);background-position:top left;margin-top:-3.125rem;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row py-8">
                <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0">
                    <h2 class="text-decoration-none text-light font-base">
                        easyhms
                    </h2>
                    <p class="text-light my-4">
                        We think that everyone should have easy access to excellent
                        healthcare. Our aim is to make the procedure as simple as
                        possible for our patients and to offer treatment no matter
                        where they are — in person or at their convenience.
                    </p>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
                    <h5 class="lh-lg fw-bold mb-4 text-light font-base">Main Features</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="footer-link" href="#!"> Appointments</a></li>
                        <li class="lh-lg"><a class="footer-link" href="#!"> Patient</a></li>
                        <li class="lh-lg"><a class="footer-link" href="#!"> Billing</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
                    <h5 class="lh-lg fw-bold text-light mb-4 font-base">Membership</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="footer-link" href="#!"> Basic</a></li>
                        <li class="lh-lg"><a class="footer-link" href="#!">Pro</a></li>
                        <li class="lh-lg"><a class="footer-link" href="#!">Enterprise</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
                    <h5 class="lh-lg fw-bold text-light mb-4 font-base"> Customer Care</h5>
                    <ul class="list-unstyled mb-md-4 mb-lg-0">
                        <li class="lh-lg"><a class="footer-link" href="#!">About Us</a></li>
                        <li class="lh-lg"><a class="footer-link" href="#!">Contact US</a></li>
                        <li class="lh-lg"><a class="footer-link" href="#!"> 24/7 Support</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 bg-primary">

            <div class="container">
                <div class="row justify-content-md-between justify-content-evenly py-4">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                        <p class="fs--1 my-2 fw-bold text-200">All rights Reserved &copy; 2022</p>
                    </div>
                    <div class="col-12 col-sm-8 col-md-6">
                        <p class="fs--1 my-2 text-center text-md-end text-200">
                            Made with&nbsp;
                            <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#F95C19" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                            </svg>&nbsp;by&nbsp;<a class="fw-bold text-info" href="" target="_blank">Easyhms </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </section>
</main>

  <router-outlet></router-outlet>
</ng-container>